:root{
    --black-1: #000000;
    --grey: #828282;
    --archivo: "Archivo", sans-serif;
}

html {
    scroll-padding-top: 5rem;
}

body{
    color: var(--black-2);
    font-family: var(--archivo);
    font-size: 18px;
    font-size: 20px;
}

section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.container-fluid{
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (min-width: 960px){
    .container-fluid{
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

h2, h3{
    text-transform: uppercase;
    font-weight: lighter;
}

.navbar.navbar-dark {
    background-color: rgba(0, 0, 0, 10%);
    transition: background-color .4s ease-in-out;
}

.nav-link{
    width: auto;
    padding-bottom: 8px;
    margin-left: 24px;
}

.nav-link:after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: white;
    margin: 0 auto;
    transition: width .3s ease-in-out;
}

.navbar-nav .nav-link.active:after,
.navbar-nav .nav-link.show:after{
    width: 100%;
}

.offcanvas.offcanvas-end{
    background: var(--black-1)
}

.list-unstyled a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

.arrow{
    width: 48px
}

.boton{
    color: white;
    background-size: 16px;
    border-radius: 50px;
    border: 1px solid white;
    padding: 4px 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    position: relative;
    background: var(--black-1);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 162px;
    font-size: 16px;
    line-height: 32px;
}

.boton:after{
    content: '';
    height: 25px;
    width: 20px;
    position: relative;
    right: 0;
    display: block;
    background-image: url('assets/icon-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 8px;
    transition: right .1s ease-in-out;
}

.boton:hover:after{
    right: -4px;
}

.boton-banner{
    filter: invert(1);
    padding: 8px;
    max-width: 280px;
}

.hero{
    background-image: url(assets/banner-slider-1.jpg);
    background-size: 100%;
    background-position: center;
    background-color: var(--black-1);
    height: 100vh;
    padding: 0
}

.hero .header{
    position: absolute;
    z-index: 2;
    bottom: 15vh;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (min-width: 960px){
    .hero .header{
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

.hero .header h1{
    position: relative;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 2rem;
}

@media (min-width: 960px){
    .hero .header h1{
        font-size: 2rem;
        font-size: 4.5rem;
    }
}

.hero .header h1:before{
    content: '';
    width: 50%;
    height: 2px;
    background: var(--grey);
    position: absolute;
    display: block;
    right: 105%;
    top: 36px;
}

.swiperHero:after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: rgba(0,0,0,.6);
    z-index: 1;
    top: 0;
    left: 0;
    pointer-events: none;;
}

.swiperHero {
    width: 100%;
    height: 100%;
}

.swiperHero .swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiperHero .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* portafolio */

#portafolio {
    padding-top: 6rem;
}

@media (min-width: 960px){
    #portafolio {
        padding-top: 15rem;
        min-height: 130vh;
    }
}

#portafolio h2{
    position: relative;
}

#portafolio h2:after,
#portafolio h2:before{
    content: '';
    width: 2px;
    height: 125px;
    background: var(--grey);
    position: absolute;
    z-index: 3;
    display: block;
    right: 0;
    left: 0;
    bottom: 10vh;
    margin: 0 auto;
}

#portafolio h2:after{
    width: 75px;
    height: 2px;
}

@media (min-width: 960px){

    #portafolio h2:before,
    #portafolio h2:after{
        height: 250px;
        bottom: 230%;
        bottom: 230%;
    }

    #portafolio h2:after{
        width: 150px;
        height: 2px;
    }

}

.swiperPortafolio {
    width: 100%;
    height: 100%;
}

.swiperPortafolio .swiper-wrapper{
    align-items: center;
}

.swiperPortafolio .swiper-slide {
    width: 80%;
    height: 70vh;
    opacity: .7;
    text-align: center;
    font-size: 18px;
    background: #444;
    transition: height .5   s ease-in-out, opacity .3s ease-in-out;
}

.swiperPortafolio .swiper-slide.swiper-slide-active {
    height: 80vh;
    opacity: 1;
}

.swiperPortafolio .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* swiper actions */

.swiper-button-prev,
.swiper-button-next {
    width: 16%;
    top: 4%;
    height: 100%;
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0)
}

@media (min-width: 960px){

    .swiper-button-prev,
    .swiper-button-next {
        width: 8%;
    }

}

.swiper-button-prev {
    background-image: url(assets/slider-right-arrow.svg);
}

.swiper-button-next {
    background-image: url(assets/slider-left-arrow.svg);
}

.swiperHero .swiper-button-prev {
    left: .5cm;
}

.swiperHero .swiper-button-next {
    right: 1rem;
}

.swiperPortafolio .swiper-button-prev {
    left: 10%;
}

.swiperPortafolio .swiper-button-next {
    right: 10%;
}

@media (min-width: 960px){

    .swiperHero .swiper-button-prev {
        left: 8rem;
    }

    .swiperHero .swiper-button-next {
        right: 8rem;
    }

}

.swiper-button-prev::after,
.swiper-button-next::after{
    display: none;
}

/* somos */

#somos {
    background: var(--black-1);
    color: white;
}

#somos .figure{
    width: 600px;
    height: auto;
    overflow: hidden;
    margin: 32px auto;
}

#somos .figure .img-fluid{
    margin-left: -50px;
    max-width: 150%;
}

#somos .titulo{
    margin-bottom: 24px;
    padding-bottom: 24px;
    position: relative;
}

#somos .titulo:after{
    content: '';
    width: 130%;
    height: 2px;
    background: var(--grey);
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
}

#somos p{
    font-weight: lighter
}

#somos p b{
    font-weight: bold
}

/* fichas */

#fichas .ficha{
    border-bottom: 1px solid var(--black-1);
    padding-bottom: 24px;
}
#fichas .ficha .figure{
    height: 400px;
    overflow: hidden;
}

#fichas h2{
    position: relative;
}

#fichas h2:before{
    content: '';
    width: 50%;
    height: 2px;
    background: var(--grey);
    position: absolute;
    display: block;
    right: 103%;
    top: 14px;
}

@media (min-width: 960px){
    #fichas h2:before{
        top: 24px;
    }
}

/* contacto */

#contacto h2:after{
    content: '';
    height: 200px;
    width: 1px;
    background: var(--black-1);
    display: block;
    margin: 12px 9px 28px;
    border-radius: 50px;
}

.form-control{
    border: 2px solid var(--black-1)
}

.footer{
    background: var(--black-1);
    color: white;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.footer .nav-link{
    margin-left: 0;
}

.footer .nav-link:after{
    margin: 0;
}

#contacto .boton{
    width: 152px;
}

.footer .icon-rrss img{
    width: 32px;
}