:root{
    --black-1: #000000;
    --black-2: #1E1E1E;
    --black-3: #373737;
    --black-4: rgba(0,0,0,.8);
    --amarillo: #F4E0AF;
    --azulino: #7186A4;
    --brown: #C19A6F;
    --dark-brown: #8D6F64;
    --archivo: "Archivo", sans-serif;
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, .80);
    --h-header: 100px;
}
html {
    scroll-padding-top: 5rem;
}

body{
    color: var(--black-2);
    font-family: var(--archivo);
    font-size: 18px;
}

section{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding-left: 10rem;
    padding-right: 10rem;
}

h2,h3{
    text-transform: uppercase;
    font-weight: lighter;
}

.navbar.navbar-dark {
    background-color: rgba(0, 0, 0, 10%);
    transition: background-color .4s ease-in-out;
}

.navbar.active.navbar-dark {
    /* background-color: rgba(0, 0, 0, .8); */
}

.nav-link{
    width: auto;
    padding-bottom: 8px;
    margin-left: 24px;
}

.nav-link:after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: white;
    margin: 0 auto;
    transition: width .3s ease-in-out;
}

/* .nav-link:hover:after,
.nav-link.active:after{
    width: 100%;
} */

.navbar-nav .nav-link.active:after,
.navbar-nav .nav-link.show:after{
    width: 100%;
}

ul li a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

p{
    font-size: 18px;
}

.arrow{
    width: 48px
}

.boton{
    color: white;
    background-size: 16px;
    border-radius: 50px;
    border: 1px solid white;
    padding: 4px 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    position: relative;
    background: var(--black-1);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 162px;
    font-size: 16px;
    line-height: 32px;
}

.boton:after{
    content: '';
    height: 25px;
    width: 20px;
    position: relative;
    right: 0;
    display: block;
    background-image: url('assets/icon-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 8px;
    transition: right .1s ease-in-out;
}

.boton:hover:after{
    right: -4px;
}

.boton-banner{
    filter: invert(1);
    padding: 8px;
    max-width: 280px;
}

.hero{
    background-image: url(assets/banner-slider-1.jpg);
    background-size: 100%;
    background-position: center;
    background-color: var(--black-1);
    height: 100vh;
}

.divider{
    position: absolute;
    bottom: -15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 150px;
}

.figure{
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

#contacto h2:after{
    content: '';
    height: 250px;
    width: 1px;
    background: var(--black-1);
    display: block;
    margin: 16px 9px 32px;
    border-radius: 50px;
}

.form-control{
    border: 2px solid var(--black-1)
}

.footer{
    background: var(--black-1);
    color: white;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.footer .nav-link{
    margin-left: 0;
}

.footer .nav-link:after{
    margin: 0;
}

#contacto .boton{
    width: 152px;
}